---
trust-domain: xpi

task-priority: lowest

taskgraph:
    register: xpi_taskgraph:register
    repositories:
        # This is the manifest repo
        # string: for a source repo, this should match the `repo-prefix`
        #         in `xpi-manifest.yml`
        xpi:
            # string: the name of the repo, for humans
            name: "XPI manifest"
            # regex: to match the base name of the repo
            project-regex: xpi-manifest(.git)?$
            # string: the repo url. Use `git@github.com:org/repo` for private
            #         repositories.
            default-repository: https://github.com/mozilla-extensions/xpi-manifest
            # string: which branch is primary; should be `master`
            default-ref: master
            # enum: hg or git; should be `git`
            type: git
        staging-xpi:
            name: "XPI manifest"
            project-regex: staging-xpi-manifest(.git)?$
            default-repository: https://github.com/mozilla-releng/staging-xpi-manifest
            default-ref: master
            type: git
        stagingpublic:
            name: "Releng staging repo test"
            project-regex: staging-xpi-public$
            default-repository: https://github.com/mozilla-releng/staging-xpi-public
            default-ref: main
            type: git
        stagingprivate:
            name: "Releng staging private repo test"
            project-regex: staging-xpi-private$
            default-repository: git@github.com:mozilla-releng/staging-xpi-private
            default-ref: master
            type: git
        remotesettingsdevtools:
            name: "Remote Settings Devtools"
            project-regex: remote-settings-devtools$
            default-repository: https://github.com/mozilla-extensions/remote-settings-devtools
            default-ref: master
            type: git
        searchenginedevtools:
            name: "Search Engine Devtools"
            project-regex: searchengine-devtools$
            default-repository: https://github.com/mozilla-extensions/searchengine-devtools
            default-ref: main
            type: git
        cpmanager:
            name: "MozillaOnline cpmanager"
            project-regex: cpmanager$
            default-repository: git@github.com:mozilla-extensions/cpmanager
            default-ref: master
            type: git
        cehomepage:
            name: "MozillaOnline cehomepage"
            project-regex: cehomepage$
            default-repository: git@github.com:mozilla-extensions/cehomepage
            default-ref: master
            type: git
        chinanewtab:
            name: "MozillaOnline China New Tab"
            project-regex: china-newtab$
            default-repository: https://github.com/mozilla-extensions/china-newtab
            default-ref: master
            type: git
        tabtweak:
            name: "MozillaOnline Tab Tweak"
            project-regex: tabtweak$
            default-repository: https://github.com/mozilla-extensions/tabtweak
            default-ref: master
            type: git
        webcompat:
            name: "Web Compat"
            project-regex: webcompat-addon$
            default-repository: https://github.com/mozilla-extensions/webcompat-addon
            default-ref: master
            type: git
        secureproxy:
            name: "Secure-Proxy"
            project-regex: secure-proxy$
            default-repository: https://github.com/mozilla-extensions/secure-proxy
            default-ref: master
            type: git
        dnssecinterferencestudy:
            name: "DNSSEC Interference Study"
            project-regex: dnssec-interference-study$
            default-repository: https://github.com/mozilla-extensions/dnssec-interference
            default-ref: master
            type: git
        balrogdryrun:
            name: "Balrog Dry Run"
            project-regex:  balrog-dryrun$
            default-repository: https://github.com/mozilla-extensions/balrog-dryrun.git
            default-ref: main
            type: git
        firefoxtranslations:
            name: "Firefox Translations"
            project-regex: firefox-translations$
            default-repository: https://github.com/mozilla-extensions/firefox-translations
            default-ref: main
            type: git
        aboutsync:
            name: "About Sync"
            project-regex: aboutsync$
            default-repository: https://github.com/mozilla-extensions/aboutsync
            default-ref: main
            type: git
        quitter:
            name: "Firefox Quitter"
            project-regex: quitter$
            default-repository: https://github.com/mozilla-extensions/quitter
            default-ref: main
            type: git
        addonsrestricteddomains:
            name: "Add-ons Restricted Domains"
            project-regex: addons-restricted-domains$
            default-repository: https://github.com/mozilla-extensions/addons-restricted-domains
            default-ref: main
            type: git
        nimbusdevtools:
            name: "nimbus-devtools"
            project-regex: nimbus-devtools$
            default-repository: https://github.com/mozilla-extensions/nimbus-devtools
            default-ref: main
            type: git
        firefoxbridge:
            name: "Firefox Bridge"
            project-regex: firefox-bridge$
            default-repository: https://github.com/mozilla-extensions/firefox-bridge
            default-ref: main
            type: git
        privilegedtestxpi:
            name: "Privileged Test XPI"
            project-regex: privileged-test-xpi$
            default-repository: https://github.com/mozilla-extensions/privileged-test-xpi
            default-ref: main
            type: git

workers:
    aliases:
        b-linux:
            provisioner: xpi-{level}
            implementation: docker-worker
            os: linux
            worker-type: 'b-linux-gcp'
        images:
            provisioner: xpi-{level}
            implementation: docker-worker
            os: linux
            worker-type: 'images-gcp'
        dep-signing:
            provisioner: scriptworker-k8s
            implementation: scriptworker-signing
            os: scriptworker
            worker-type: xpi-t-signing
        github:
            provisioner: scriptworker-k8s
            implementation: scriptworker-github
            os: scriptworker
            worker-type: 'xpi-{level}-github'
        beetmover:
            provisioner: scriptworker-k8s
            implementation: scriptworker-beetmover
            os: scriptworker
            worker-type: 'xpi-{level}-beetmover'
        balrog:
            provisioner: scriptworker-k8s
            implementation: scriptworker-balrog
            os: scriptworker
            worker-type: 'xpi-{level}-balrog'
        signing:
            provisioner: scriptworker-k8s
            implementation: scriptworker-signing
            os: scriptworker
            worker-type:
                by-level:
                    "3": xpi-3-signing
                    default: xpi-t-signing
        shipit:
            provisioner: scriptworker-k8s
            implementation: scriptworker-shipit
            os: scriptworker
            worker-type:
                by-level:
                    "3": xpi-3-shipit
                    default: xpi-1-shipit

github_clone_secret: project/xpi/xpi-github-clone-ssh

scriptworker:
    scope-prefix: project:xpi:releng
    signing-format:
        by-xpi-type:
            mozillaonline-privileged: privileged_webextension
            privileged: privileged_webextension
            system: system_addon
            # normandy-privileged is deprecated
            normandy-privileged: privileged_webextension

release-promotion:
    flavors:
        build:
            target-tasks-method: build_xpi
            rebuild-kinds:
                - docker-image
                - build
                - test
                - addons-linter
                - dep-signing
        promote:
            target-tasks-method: promote_xpi
        ship:
            target-tasks-method: ship_xpi
    notifications:
        # configure mozillaonline-privileged webextension email addresses for
        # notifications
        mozillaonline-privileged:
            by-level:
                '3':
                    by-phase:
                        build:
                            - "gabriel+mozillaonline-priv-webext-build@mozilla.com"
                            - "hectorz+mozillaonline-priv-webext-build@mozilla.com"
                            - "mkaply+mozillaonline-priv-webext-build@mozilla.com"
                            - "awagner+mozillaonline-priv-webext-build@mozilla.com"
                        promote:
                            - "gabriel+mozillaonline-priv-webext-promote@mozilla.com"
                            - "hectorz+mozillaonline-priv-webext-promote@mozilla.com"
                            - "mkaply+mozillaonline-priv-webext-promote@mozilla.com"
                            - "awagner+mozillaonline-priv-webext-promote@mozilla.com"
                        ship:
                            - "gabriel+mozillaonline-priv-webext-ship@mozilla.com"
                            - "hectorz+mozillaonline-priv-webext-ship@mozilla.com"
                            - "mkaply+mozillaonline-priv-webext-ship@mozilla.com"
                            - "awagner+mozillaonline-priv-webext-ship@mozilla.com"
                default: []
        # configure privileged webextension email addresses for notifications
        privileged:
            by-level:
                '3':
                    by-phase:
                        build:
                            - "privileged-addon-reviewers+shipit-build@mozilla.com"
                        promote:
                            - "privileged-addon-reviewers+shipit-promote@mozilla.com"
                        ship:
                            - "privileged-addon-reviewers+shipit-ship@mozilla.com"
                default: []
        # configure system addons email addresses for notifications
        system:
            by-level:
                '3':
                    by-phase:
                        build:
                            - "gabriel+system-addons-build@mozilla.com"
                            - "awagner+system-addons-build@mozilla.com"
                        promote:
                            - "gabriel+system-addons-promote@mozilla.com"
                            - "awagner+system-addons-promote@mozilla.com"
                        ship:
                            - "gabriel+system-addons-ship@mozilla.com"
                            - "awagner+system-addons-ship@mozilla.com"
                default: []
        # configure normandy-privileged webextension email addresses for
        # notifications. normandy-privileged is deprecated.
        normandy-privileged:
            - "gabriel+normandy-priv@mozilla.com"
